@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Black.woff2') format('woff2');
    src: url('font/Montserrat-ExtraBoldItalic.woff2') format('woff2');
    src: url('font/Montserrat-BoldItalic.woff2') format('woff2');
    src: url('font/Montserrat-ExtraLight.woff2') format('woff2');
    src: url('font/Montserrat-Bold.woff2') format('woff2');
    src: url('font/Montserrat-ExtraLightItalic.woff2') format('woff2');
    src: url('font/Montserrat-ExtraBold.woff2') format('woff2');
    src: url('font/Montserrat-Italic.woff2') format('woff2');
    src: url('font/Montserrat-BlackItalic.woff2') format('woff2');
    src: url('font/Montserrat-SemiBoldItalic.woff2') format('woff2');
    src: url('font/Montserrat-Light.woff2') format('woff2');
    src: url('font/Montserrat-Regular.woff2') format('woff2');
    src: url('font/Montserrat-ThinItalic.woff2') format('woff2');
    src: url('font/Montserrat-Medium.woff2') format('woff2');
    src: url('font/Montserrat-LightItalic.woff2') format('woff2');
    src: url('font/Montserrat-SemiBold.woff2') format('woff2');
    src: url('font/Montserrat-MediumItalic.woff2') format('woff2');
    src: url('font/Montserrat-Thin.woff2') format('woff2');
}


div.Roboto200{
    width: 800px;
    height: 500px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
h1.Roboto200{
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.5;
}
p.Roboto200{
    text-align: justify;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.5;
}
div.Roboto400{
     width: 800px;
     height: 500px;
     border-bottom: 1px solid #000;
     margin: 0 auto;
 }
h1.Roboto400{
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
p.Roboto400{
    text-align: justify;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
div.Roboto700{
    width: 800px;
    height: 500px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
h1.Roboto700{
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
}
p.Roboto700{
    text-align: justify;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
}
div.Playwrite100{
    width: 800px;
    height: 560px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
h1.Playwrite100{
    text-align: center;
    font-size: 40px;
    font-family: "Playwrite AR", sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
}
p.Playwrite100{
    text-align: justify;
    font-size: 20px;
    font-family: "Playwrite AR", sans-serif;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
}
div.Playwrite250{
    width: 800px;
    height: 560px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
h1.Playwrite250{
    text-align: center;
    font-size: 40px;
    font-family: "Playwrite AR", sans-serif;
    font-weight: 250;
    font-style: normal;
    line-height: 1.5;
}
p.Playwrite250{
    text-align: justify;
    font-size: 20px;
    font-family: "Playwrite AR", sans-serif;
    font-weight: 250;
    font-style: normal;
    line-height: 1.5;
}
div.Playwrite400{
    width: 800px;
    height: 560px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
h1.Playwrite400{
    text-align: center;
    font-size: 40px;
    font-family: "Playwrite AR", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
p.Playwrite400{
    text-align: justify;
    font-size: 20px;
    font-family: "Playwrite AR", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
div.Montserrat200 {
    width: 800px;
    height: 560px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
h1.Montserrat200{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    line-height: 1.5;
}
p.Montserrat200 {
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.5;
}
div.Montserrat600 {
    width: 800px;
    height: 560px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}
h1.Montserrat600{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
}
p.Montserrat600 {
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
}
div.Montserrat900 {
    width: 800px;
    height: 560px;
    margin: 0 auto;
}
h1.Montserrat900{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    line-height: 1.5;
}
p.Montserrat900 {
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
}
